:root{
    --primary-white: #fff;
    --primary-orange: #feab00;
    --primary-dark: rgb(255,255,255,0);
}
nav{
    z-index: 1;
}
.logo{
    width: 160px;  
    position: absolute;
    left: 0;
    margin-left: 100px;  
}

/* ------- NAVBAR----------- */

.nav-link{
    font-weight: 500;
    letter-spacing: 0.6px;
    cursor: pointer;
    font-size: 12px;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav >li >a{
    margin-right: 12px;
    margin-left: 12px;
    color: var(--primary-white) !important;
    border-top: 2px solid var(--primary-dark);
}

.navbar-brand{
    max-width: 160px;
    padding: 0 !important;
    height: 110px;
}

.navbar-nav > li >a.active, .navbar-nav > li >a.active:focus{
    border-top: 2px solid var(--primary-orange);
}
 .navbar-nav > li >a:hover{
    border-top: 2px solid var(--primary-orange);
}

 