.particles{
    position:absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

@media(max-width: 768px){
    
}

.section{
    width: 100%;
    height: calc(100vh - 70px);
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    position: relative;
      
}

.section > *{
    width: 100vw;
    height: calc(100vh - 70px);
  
}